:root {
    --primary-color: #68bde1;
    --secondary-color:  #f0f0e4;
    --main-font-color: #7b3c3c;
    --second-font-color: #db5f29;
    --heading-font-family: 'Playfair Display', serif;
    --main-font-family: 'Quicksand', sans-serif
}

div {
    display: block;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: var(--heading-font-family);
    font-weight: 800;
    font-size: 80px;
    color: var(--main-font-color);
}

h2 {
    display: flex;
    justify-content: center;
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 25px;   
    color: var(--main-font-color);
}

h3 {
    display: flex;
    justify-content: center;
    font-family: var(--heading-font-family);
    font-weight: 400;
    font-style: italic;
    font-size: 15px;   
    color: var(--main-font-color);
}

p {
    display: flex;
    justify-content: center;
    color: var(--main-font-color);
}

body {
    background: #afe7ff;;
}


.btn {
    display: block;
    justify-content: center;
    background: var(--secondary-color);
    padding: 10px 15px;
    line-height: 27px;
    color: var(--second-font-color);
    border-radius: 10px;
    max-width: 25%;
}

.btn:hover {
    background: var(--second-font-color);
    color: var(--secondary-color);
}

.home-hero {
    background: var(--primary-color);
    padding: 60px 20px;
    font-size: 12px;
    color: var(--second-font-color);
}

.recipe-description {
    padding-top: 100px;
}

.body-button {
    display: block;
    justify-content: center;
    background: var(--second-font-color);
    padding: 10px 15px;
    line-height: 27px;
    color: var(--secondary-color);
    border-radius: 10px;
    max-width: 25%;
}

.body-button:hover {
    background: var(--secondary-color);
    color: var(--second-font-color);
}

.about-section img {
    display: block;
    justify-content: center;
}

.about-section-bio h1 {
    font-size: 40px;
    text-align: center;
}

.about-section-bio h2 {
    font-size: 20px;    
}

.about-section-bio p {
    font-size: 10px;
}

.about-section-bio a {
    max-width: 50%;
}

@media (max-width: 500px) {
   .recipe-description {
    padding: 0;
    text-align: center;
    }

    .home-hero {
    padding: 60px 20px;
    }

    .about-section {
    padding: 0;
    justify-content: center;
    }
}

@media (min-width: 900px) {
  .home-image {
    max-width: 100%;
    max-height: 100%;
   }
}


