h1 {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 80px;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 30px;   
}

p {
    display: flex;
    justify-content: center;
}